# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
lab1/part1/data/__pycache__/*
lab1/part1/algorithms/__pycache__/*
lab1/part1/.ipynb_checkpoints/*
lab2/.ipynb_checkpoints/*
.ipynb_checkpoints/*
lab2/images/*
.vscode/*
lab4/trained_rbm
lab4/trained_dbn
*.png
lab4/hist
