# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
lab1/part1/data/__pycache__/*
lab1/part1/algorithms/__pycache__/*
lab1/part1/.ipynb_checkpoints/*
.ipynb_checkpoints/*
.vscode/*


